<div class="container-main">
  <div class="jumbotron">

<h1>Company History</h1>

<h4>ABOUT KNOBULL, Inc.</h4>

<h6><p>A team of CSE students and seasoned Internet venture leaders created the Knobull search engine web app because your ability to gain access to critical information is important to us. Powered by "Semantic" Metasearch technology that works within the cloud, Knobull efficiently captures enjoyable activities and research results from leading search engines including Bing, Yahoo and DuckDuckGo so that students can find the information they want quickly. Knobull connects to them, determines which results are most critical to your search and returns them to you. This technology, using intelligent agents that eliminate the limitations of most existing search engines, insures that you securely receive results in a continuing flow format that are more complete than any one search engine can provide.</p>

<p>This streamlined search message was so critical that it drove the selection of our name! "No Bull" is dumped on you when you search and system efficiency coupled with targeted searching, supported by our Learning Center, helps you to "Know More".  We don't capture or store any personal user data and don't sell this data. This is exactly what our technology and Learning Center make happen - better understanding of search techniques to capture top priority results. </p>

<p>The Knobull search success is under the watchful eyes of a perky bull dog puppy who wants to learn and grow. To strengthen students' search success, the Learning Center lets users share search/research success stories, receive answers to posted questions from fellow students and experts and read useful research tool building articles. Use these combined tools to Knobull it and become a "search specialist".</p>

<p>Testing of system prototype is scheduled to begin this spring!</p>


<p>Search knobull @ free-press-release.com, view Lynn Bentley postings on LinkedIn and Knobull, Inc profile on Anglelist.</p></h6>
 </div>
</div>
