<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-main">
  <div class="jumbotron">

    <H1>Privacy Policy</hidden="privacy">
    <h6>
      <p>This privacy policy applies to Knobull,  Inc. services, applications and other products that link to this privacy policy.</p>
      <p>The Knobull Team is committed to protecting the privacy of its user community. The intent of this privacy policy is to insure users that we will not gather information about individuals who interact with our services. Please note that this policy applies only to Knobull, Inc. </p>
      <p>services and not to the sites of other companies or organizations to which we provide links or to any software that may be downloaded from our site.</p>
    </h6>
<!-- <h1>Business Focus</h1>

<h4>MARKET DRIVEN STRATEGY </h4>

<h6><p>The company leadership team comprised of a seasoned Internet services chief executive, corporate technology marketing and systems development executive and financial executive with extensive technology venture start-up expertise, plans to launch a meta search engine (MSE) App platform during the fall, 2014. The development team is in place and near completion of the design process for a  tool that sends iPhone user requests to several other search engines and/or databases and will aggregate the results into a single list. The key market differentiation, supported by extensive market research, will be creation of a platform specifically designed to enhance the "personalized and secure" search experience for youthful iPhone users. </p>

<p>The foundation is a client-server system that is expandable to the youth market in highly populated US regions (e.g., Boston, NYC, NJ, Chicago, LA, Dallas, San Francisco).There is solid market evidence that the capture of a 1% market niche of the projected $21 billion mobile search ad market in 2017 can lead to a $100-200 million revenue stream and attractive profitability. This platform will operate on the premise that displaying Internet data is too extensive for any one search engine to completely index and more comprehensive results can be obtained by combining the results from several search engines. </p>

<p> In addition the Learning Center will combine articles and materials to encourage users to stay. Mixed into the stream will be unique ads similar to sponsored posts, looking like other articles but sponsored by youth oriented brands. </p>

</h6>
-->
</div>
</div>
</body>
</html>
