<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/ng-table/dist/ng-table.min.css" />
      <link rel="stylesheet" href="Slide-Push-Menus-master/css/font-awesome.min.css">
  <link rel="stylesheet" href="Slide-Push-Menus-master/css/style.css">
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
      <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">


  

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.3.js"></script>
    
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="styles/about.css">
    <!-- endbuild -->
  </head>
<body>
<font  color="">	<h1>Learning Center</h1>

<h4>MOBILE SECURITY </h4>

<h6><p>These are things you should do to keep others from invading your privacy:</br>
1. Block outside trackers with epicbrowser.com or set privacy options on current browser. </br>
2. Protect searches with search engines that make search anonymous (e.g. epicsearch.in). Use private-browsing option on drop-down menu to automatically erase. </br>
3. Encrypt your devise with Security for Apple and bitlocker for others.</br>
4. Download a free virtual private network such as spotflux.com or hotspotshield.com. </br>
5. Change Facebook settings to "Friends Only".</br>
6. Clear browser history and cookies regularly.</br>
7. Use an IP Masker on your device.</br>
8. Password protect your device.  </p>

<p>If you are not convinced, go to Reddit Relationships and read some personal horror stories! </p>

<p> Also, using free Wi-Fi can put privacy at risk! Here are guidelines to stay connected and reasonably safe while using public networks: </p>
<p>1. Only use sites with https in front of URL. </br>

2. Use a virtual private network, or VPN. No VPN, use Tor you can download at Torproject.org.</br>

3. Sign up for two-step verification at personal user site (e.g., Facebook, Yahoo).</br>

4. Bring only what you need and turn off what is not being used. Consider creating "on-the-go" email and password.</p>
<p>Data pirates go for easy pickings so guard against snatch and grab!</p>

</h6>
</font>
</body>
</html>