<!DOCTYPE html>
<html  lang="en">

<head>
    <meta charset="utf-8">
    <link rel="icon" href="../public/images/favicon.ico" />
    <meta http-equiv="X-UA-Compatible" content="text/html; charset=UTF-8;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Research for students, developed by students">
    <meta name="keywords" content="knobull, messageboard, Lynn Bentley, research, research engine, students">
    <meta name="author" content="">
    <title>Knobull Inc | Research Resources</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- RaleWay-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
    <!-- Montserrat-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <!-- other css -->
    <link rel="stylesheet" href="bower_components/ng-table/dist/ng-table.min.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.3.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <!-- <link rel="stylesheet" href="styles/main.css"> -->
    <!-- endbuild -->
    <!---end of other css-->
    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <link href="/css/resources.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-app="knobullApp">

    <head>
        <title>Privacy</title>
        <!-- <link href="main.css" rel="stylesheet " type="text/css"> -->
        <!-- <script type="text/javascript" src="act.js"></script> -->
        <!--<input type="text" id="mySearch" onkeyup="myFunction()" placeholder="Search.." title="Type in a category"> -->
    </head>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a ng-href="/" onclick="window.location.reload();" class="c-menu__link">Home</a>
        <a href="/about">About Us</a>
        <a href="https://knobull-messageboard.herokuapp.com/" target="_blank">Message Board</a>
        <a href="https://www.linkedin.com/company/knobull-inc/">Company Page</a>
        <a href="https://www.prlog.org/news/tag/knobull-com/#">Press Release</a>
        <a href="/contact">Contact</a>
        <a href="/privacy">Privacy</a>
        <a href="/resources">Resources</a>
        <a href="/studentnews">Student News</a>
    </div>

                  
                  
                  <span style="font-size:30px;cursor:pointer" id = "navicon" onclick="openNav()">&#9776;</span>
                  
                  
                  

    

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                    <!--    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->
                    <!-- <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Menu</a> -->

    <!-- /#wrapper -->

    <!-- BEGIN javascript for nav bar -->
    <script>
        function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
        document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
        }
    </script>

    <script>
        function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
        document.body.style.backgroundColor = "white";
        }
    </script>

    <!-- END javascript for nav bar-->

    <!--main view for angular js-->
    <!-- <script src="Slide-Push-Menus-master/js/dist/menu.js"></script> -->
    <script>
      /**
       * Slide right instantiation and action.
       */
      var slideRight = new Menu({
        wrapper: '#o-wrapper',
        type: 'slide-right',
        menuOpenerClass: '.c-button',
        maskId: '#c-mask'
      });

      var slideRightBtn = document.querySelector('#c-button--slide-right');

      slideRightBtn.addEventListener('click', function(e) {
        //alert("Santosh");
        e.preventDefault;
        slideRight.open();
      });
    </script>



    <script src="https://code.jquery.com/jquery-latest.js"></script>
  <script>
  $(document).ready(function(){
    $.getJSON("https://www.faroo.com/api?q=google&start=1&l=en&src=web&f=json",
        function(data){
          $.each(data.results, function(i,item){
			jQuery('<div/>', {  text: item.title }).appendTo('#results');
          });
        });
  });
  </script>


  <body>
      <header>
          <!--  <h1 class="top-header">ABOUT KNOBULL, Inc. </h1>  -->
      </header>
      <section class="subheader_img">
          <div class="header-block">
              <h1 class="header_title"> Research Resources </h1>
              <img src="images/blue-bg-logo.png" class="toplogo" />
              <h2 class="sh_text">
                  Websites, Tools, <br />Search Support, <br /> Writing Success
              </h2>
          </div>
      </section>
      <!-- <h4 class="sub-header">ABOUT KNOBULL, Inc. </h4> -->
      <section class="para_body">
          <div class="para_body_info">  
              <p> <br> <br> <br> </p>
              
                <h1>Research Websites </h1>
                <p>  •	<a href = "https://loc.gov/">LOC.gov</a> lets you not only ask a librarian for help but also search catalogs of libraries from all over the world. This is truly a huge resource that should be on your Top 10 best research sites list. Anything from Academica Sinica in Taiwan to Yale University in the U.S. is here and ready to be searched.</p>
                <p>  •	<a href = "http://www.referencedesk.org/index.shtml">ReferenceDesk.org</a>: Dubbed "The Internet's Best Reference Source," this <a href = "https://www.lifewire.com/what-is-web-directory-3482036">web directory</a> is an extremely <a href = "https://www.lifewire.com/top-fifty-useful-sites-3481693">useful site</a> that provides everything from business and finance information to federal government resources, scholarship details, links to newspapers and calendars, <a href ="https://www.lifewire.com/how-does-search-engine-work-3482032">search engines</a>, and more.</p>
                <p>  •	<a href = "https://spaceflight.nasa.gov/feedback/expert/">NASA's Ask An Expert</a>: NASA's site for space and science research help; search the archives of answered questions to see if your question has been addressed, or use the drop-down menus to browse through missions, topics, etc.</p>
                 <p> •	<a href = "https://www.usa.gov/">USA.gov</a> : This is where you should start when looking for specific government information.</p>
                 <p> •	<a href = "https://www.reference.com/">Reference.com</a> : Extremely simple to use with a basic layout, this reference website lets you browse by category or search by keywords to research everything from food and health to history, beauty, education, technology, vehicles, art, and more.</p>
                <p>  •	<a href = "https://www.refdesk.com/">Refdesk.com</a> : Billing itself as the internet's fact-checker, this reference site includes in-depth research links to breaking news, editorials, Today in History, Word of the Day, Daily Pictures, and other references.</p>
                 <p> •	<a href = "https://www.encyclopedia.com/">Encyclopedia.com</a>: The number one online encyclopedia that lets you search over 200 reference books and encyclopedias at once.</p>
                 <p> •	<a href = "https://www.britannica.com/">Encyclopedia Britannica</a>: One of the world's oldest encyclopedias online; has featured posts and cat-egory listings.</p>
                 <p> •	<a href = "https://www.lib.purdue.edu/find/quickreference">Purdue University Quick Reference</a> : Research site with tons of information that includes resources specific to Purdue University and surrounding areas in Indiana. It also includes an <a href = "https://www.lib.purdue.edu/help/askalib">Ask a Librarian service</a>.</p>
                 <p> •	<a href = "https://www.pdr.net/">Prescriber's Digital Reference</a> : A wonderful research tool when gathering detailed medical information.</p>
                 <p> •	<a href = "http://itools.com/">iTools.com</a> : Serves as a gateway for reference and research links.</p>
                <p>  •	<a href = "http://foldoc.org/">FOLDOC</a>: Free Online Dictionary of Computing is a detailed computing dictionary for researching the meaning behind computer-related tools, standards, jargon, languages, and more. 	Depending on the type of research you're doing or how you need to reference the information, you may need quick access to books. There are lots of places to <a href ="https://www.lifewire.com/download-free-books-3482754">download free books online</a>, plus <a href ="https://www.lifewire.com/free-textbooks-online-3482755">sites with free textbooks</a>a> and <a href = "https://www.lifewire.com/watch-free-educational-movies-3482423">free educational movies</a>.</p>
                <p>  •	The <a href = "http://www.virtuallrc.com/">Virtual Learning Resources Center</a> (VLRC) is an online index hosting thousands of scholarly websites, all of which are selected by teachers and librarians from around the globe. The site provides students and teachers with current, valid information for school and university academic projects using an index gathered from research portals, universities and library internet subject guides recommended by teachers and librarians.</p>
                <p> •	 The Online Writing Lab (OWL) at Purdue University houses writing resources and instructional material, and we provide these as a free service of the Writing Lab at Purdue. Students, members of the community, and users world-wide will find information to assist with many writing projects. Teachers and trainers may use this material for in-class and out-of-class instruction.
                  For more information about services for the Purdue Uni-versity community, including one-to-one consultations, ESL conversation groups and workshops, please visit the <a href = "https://owl.purdue.edu/writinglab/the_writing_lab_at_purdue.html">Writing Lab site</a>.
                   </p>
  
                 <h1> Affiliate Programs* </h1> 
                 <p> <strong>Research Support></strong></p> 
                  <p> <strong>Books></strong></p> 
               
                  <p> <strong>Courses></strong></p> 
               
                  <p><strong>Electronics></strong></p> 
                  
                    <p> <strong>Home Goods></strong></p> 
                 
                      <p> <strong>Food></strong></p> 
                      <p> <strong>*Being Developed</strong></p>
                </p>
               <h1> Finding Sources  </h1>
  
                 <p> • <a href = "https://worldwidescience.org/">WorldWideScience</a>, which refers to itself as “The Global Science Gateway,” is operated by the Office of Scientific and Technical Information—a branch of the Office of Science within the U.S. Department of Energy. The site utilizes databases from over 70 countries. When users type a query, it hits databases from all over the world and will display both English and translated results from related journals and academic resources.</p>
                  
                  <p>  • <a href = "https://www.science.gov/">Science.gov</a> is operated and maintained by the Office of Science and Technical Information, the same department that collaborates on WorldWideScience.org. This search engine pulls from over 60 databases, over 2,200 websites and 200 million pages of journals, documents and scientific data. Search results can be filtered by author, date, topic and format (text or multimedia).</p>
                  
                      <p>  • A self-described “computational knowledge engine,” <a href ="https://www.wolframalpha.com/">Wolfram Alpha</a> does not so much provide search results as it does search answers. Simply type in a topic or question you may be interested in, such as, “What is the function of the pancreas?” and the answer will show up without making you scroll through pages of results. This is especially handy for those in need of math help. With its minimalist design.</p>
                  
                  
                  <p>  • <a href = "https://www.refseek.com/">Refseek</a> doesn’t look like much. However, the engine pulls from over one billion web pages, encyclopedias, journals and books. It is similar to Google in its functionality, except that it focuses more on scientific and academic results—meaning more results will come from .edu or .org sites, as well as online encyclopedias. It also has an option to search documents directly—providing easy access to PDFs of academic papers.</p>
                  
                  <p>  • Populated by the U.S. Department of Education, the <a href = "https://eric.ed.gov/">Educational Resources Information Center</a>(ERIC) is a great tool for academic research with more than 1.3 million bibliographic records of articles and online materials. ERIC provides access to an extensive body of education-related literature including journal articles, books, research syntheses, conference papers, technical reports, policy papers and more. With more than eight million searches each month, it’s no wonder why this search engine is a great web source for education.</p>
                  
                  
                  
              
             
          </div>
      </section>
  </body>

<center>
<dir-pagination-controls
                    max-size="5"
                    direction-links="true"
                    boundary-links="true" >
                </dir-pagination-controls>
</center>



<!-- /#page-content-wrapper -->

</div>
    <!-- end of main view -->




    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28//angular-route.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/controllers/contact.js"></script>
    <script src="scripts/controllers/messageboard.js"></script>
    <script src="scripts/controllers/blog.js"></script>
    <script src="scripts/controllers/privacy.js"></script>
    <script src="scripts/controllers/learn.js"></script>
    <script src="scripts/controllers/SearchController.js"></script>
    <script src="scripts/lib/dirPagination.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <!--------Bower--->

    <script src="bower_components/ng-table/dist/ng-table.min.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

      </div>
    </div>
    </div>
    </div>

     <!-- Default Statcounter code for Business Website https://Knobull.com -->
     <script type="text/javascript">
        var sc_project=12383951;
        var sc_invisible=1;
        var sc_security="d7c37afd";
        var sc_https=1;
        </script>
        <script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
        <noscript><div class="statcounter"><a title="Web Analytics" href="https://statcounter.com/" target="_blank"><img class="statcounter" src="https://c.statcounter.com/12383951/0/d7c37afd/1/" alt="Web Analytics"></a></div></noscript>
        <!-- End of Statcounter Code -->

</body>
</html>