$icon-font-path: ../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/;
 /* bower:scss */
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
 /* endbower */

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;

}



body {
  background-color: #E8B029;
}

h1 {
	font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	font-size: 24em;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4em;
}
h3 {
	font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	font-size: 16em;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4em;
}
p {
	font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	font-size: 16em;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20em;
}
