body{
    background-color: white ;

}


.container {
    position: relative;
    text-align: center;
    background-color: white;
}

.container-fluid {
    position: relative;
    text-align: left;
    background-color: #FFFFFF;

}
.blog_design {
    
    width: 40%;
}

.blogtext {
    color: #3eabec;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Sirin Stencil, Arial;
    letter-spacing: 3px;
    font-size: 2.5em;
}

.newstext {
    /*font-size: 48px;*/
    /*color: #67ADF3;
    color: #1da6f7;*/
    color: #3eabec;
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Sirin Stencil, Arial;
    letter-spacing: 3px;
    font-size: 2.5em;
}

.blog:hover {
    color: #67ADF3;
}

.blog-container {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 20px auto;
}

.row {
    background-color: white;
    /*float: left;
    text-align: center;*/
}

.col-md-12 /*col-sd-12 col-xs-12 col-lg-12*/ {
 background-color: white ;
}

.centered {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

.img-responsive{
    width: 100%;
    max-width: 600px;
    height: auto;
}

.form-control{
    margin-left: 5.5%;
    /*margin: auto;*/
    width: 80%;
    height: 50px;
    max-width: 1200px;
    float: left;
    padding: 10px;
    display: inline-block;
}

.bottom-text {
    text-align: center;
    font-size: 16px;
    margin: 20px;
    font-family: Raleway, Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    bottom: 0%;
    position: fixed;
}

.search_button {
    float: left;
    width: 50px;
    height: 50px;
    padding: 10px;
    color: #3eabec;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search_button:hover {
  /*background: #94c2eb;*/
  background: #b0cfeb;
}

#clear {
    color: #3eabec;
    border: none;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}

#navicon{
    font-size:30px;
    cursor:pointer;
    margin-left: 10px;
    margin-top: -10px;
    -webkit-margin-top-collapse: collapse;
}
