@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:600&display=swap');
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.sidebar{

  width: 240px;
  left: 0px;
  bottom: 4650px;
  height: 11%;
  position:absolute;
  background: #2d2d2d;
  transition: all .5s ease;

}
.sidebar header{
  font-size: 20px;
  color: rgb(255, 255, 255);
  line-height: 40px;
  text-align: center;
  background: #1b1b1b;
  user-select: none;
  font-family: 'Montserrat', sans-serif;
}
.sidebar a{
  display: block;
  height: 30px;
  font-size:12px;
  width: 100%;
  color: white;
  line-height: 30px;
  padding-left: 5px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(183, 62, 62, 0.1);
  border-left: 5px solid transparent;
  font-family: 'Open Sans', sans-serif;

}
a.active,a:hover{
  border-left: 5px solid #b93632;
  color: #b93632;
}

.sidebar a i{
  font-size: 12px;
  margin-right: 4px;
}
.sidebar a span{
  letter-spacing: 0px;
  text-transform: uppercase;
}
#check{
  display: none;
}


@media(max-width : 860px){
  .sidebar{
    height: auto;
    width: 70px;
    left: 0;
    margin: 100px 0;
  }
  header,#btn,#cancel{
    display: none;
  }
  span{
    position: absolute;
    margin-left: 33px;
    opacity: 0;
    visibility: hidden;
  }
  .sidebar a{
    height: 60px;
  }
  .sidebar a i{
    margin-left: -10px;
  }
  a:hover {
    width: 200px;
    background: inherit;
  }
  .sidebar a:hover span{
    opacity: 1;
    visibility: visible;
  }
}
